[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
uuid = "*"
django-storages = "*"
boto3 = "*"
python-decouple = "*"
pyyaml = "*"
uritemplate = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-rest-auth = {extras = ["with_social"], version = "*"}
django-cors-headers = "*"

[requires]
python_version = "3.7"
