<h2 class="page-header" >Login</h2>
<form class="form-signin" (submit)="onLoginSubmit()">
        <div class="form-group">
          <label for="admissionNumber">AdmissionNumber:</label>
          <input type="number" class="form-control" placeholder="Enter AdmissionNumber" [(ngModel)]="admissionNumber" name="admissionNumber">
        </div>
        <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" placeholder=" Enter Password" [(ngModel)]="password" name="password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <input class="btn btn-lg btn-primary" type="submit" value="Login">
</form>
