<div class="jumbotron text-center">
  <h1>SMART-CLASS APP</h1>
  <p class="lead">Welcome to Smart-class Application. The place to Learn</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h3>Connect Universities</h3>
    <p>The app core feature is to connect student from multiple universities and be able to share knowledge</p>
  </div>
  <div class="col-md-3">
    <h3>Share Files</h3>
    <p>The App users will be able to share files with one another such as Notes, Books, Images and Videos</p>
  </div>
  <div class="col-md-3">
    <h3>Blog Together</h3>
    <p>Users will be able to share opinions on a burning Issues.</p>
  </div>
  <div class="col-md-3">
    <h3>Chat with one another in real-time</h3>
    <p>Feature to be implemented later on where users will be able to chat with one another in real-time</p>
  </div>
</div>

<footer>
  <p class="lead">Please feel free to contribute to the development of the application</p>
  <p>Email:richardaggrey7@gmail.com</p>
</footer>
