{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}


<div class="section">
    <h1 class="title">
        {{topics.name}}
    </h1>
    <h4 class="subtitle">
        {{topics.description}}
    </h4>

    <div class="content">

        {% if topics.resources|length >= 1 %}
        {% for i in topics.resources  %}
        <div class="box" style="margin-bottom: 2px;">
            <span>{{i.topic}}</span>
            <span style="float: right;" class="icon">
                <a href="{{i.location}}" target="_blank"><i class="fas fa-download"></i></a>
            </span>
        </div>
        {% endfor %}
        {% else %}
        <div class="title">
            <h3>Nothing found</h3>
        </div>
        {% endif %}

    </div>

</div>





{% endblock content %}